@charset "UTF-8";
body{
    background-image: linear-gradient(to left, rgb(32, 32, 32), rgb(53, 52, 52), rgb(7, 0, 0));
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    width: 100%;
}

#container {
    width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
  }
  
  #loader {
    text-align: center;
    display: none; /* Escondido inicialmente */
    color: white;
    place-content: center;
  }


  img{
    max-width: 600px;
    max-height: 600px;
    margin-top: 150px;
    width: 85%;
  }

  .id{
    /* place-self: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;

  }

  .id img{
    border: 3px solid rgb(131, 11, 11);
    border-radius: 4px;
    margin-bottom: 50px;
    
  }

  p{ 
    font-size: larger;
    text-align: center;
  
  }

  span {
    color: red;
  }